version: '3.9'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    image: react-image
    ports:
      - '3000:3000'
    container_name: react-app
    stdin_open: true
    tty: true
